:root {
  --basic-white: #ffffff;
  --basic-sg-black: #323232;
  --basic-wet-asphalt: #5A5A5A;
  --basic-text-dec: rgba(50, 50, 50, 0.2);
  --basic-bg: #849D8F;
  --basic-bg2: #8996A6;
  --basic-bg3: #9D8B84;
  --sub-bg: #FBDED7;
  --sub-bg-act: #F6B5A5;
  --mailing-bg: #F8F7F4;
  --contact-bg: #FEFEFE;
  --menu-actv: #D07058;
  --link-bg: rgba(255, 255, 255, 0.2);
  --link-hov: #FFBC9E;
  --social-bg: rgba(255, 255, 255, 0.8);
  --button-shadow: rgba(172, 16, 0, 0.64);
  --button-bg-hov: #AC1000;
  --button-bg-actv: #942718;
  --button-text-shadow: rgba(160,32,11,0.76);
  --price-text-shadow: rgba(49, 50, 53, 0.5);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-bg);
  }

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: flex-start;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  text-shadow: 0px 2px 5px var(--button-text-shadow);
  vertical-align: middle;
  background-image: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  border-radius: 70px;
  box-shadow: 0px 2px 2px var(--button-shadow);
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2),  rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px var(--button-bg-hov);
  border-radius: 50px;
}

.button:active {
  background-color:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)),
    linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px var(--button-bg-actv);
  border-radius: 50px;
  }

.site-navigation-item,
.sub-menu-item,
.user-panel-item,
.promo-wrapper-item,
.controls-wrapper-item,
.banners-list-item,
.products-list-item,
.advantages-list-item,
.social-list-item,
.footer-nav-list-item,
.breadcrumbs-item,
.radio-list,
.checkbox-list {
  list-style: none;
}

.user-tooltip,
.modal-block {
  display: none;
}

.link,
.sub-nav-link,
.nav-link {
  color: var(--basic-white);
  border-bottom: 1px solid var(--link-bg);
  text-decoration: none;
}

.link:hover,
.link:active,
.link:focus {
  color: var(--link-hov);
}

/*header*/

.main-header {
  margin-bottom: 20px;

  outline: 5px solid red;
  outline-offset: -5px;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  margin:0 auto;
  padding: 0 27px;

  outline: 5px solid green;
  outline-offset: -5px;
}

.main-header-wrapper {
  display: flex;
  align-items: flex-start;
}

.main-nav {
  outline: 5px solid blue;
  outline-offset: -5px;

  display: flex;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.main-logo {
  outline: 5px solid goldenrod;
  outline-offset: -5px;

  margin-right: 24px;
  padding-top: 9px;
}

.site-navigation {
  outline: 5px solid yellow;
  outline-offset: -5px;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 32px;

  line-height: 16px;
  font-weight: 700;
}

.site-navigation-item {
  margin-right: 5px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: var(--basic-sg-black);
  background-color: var(--basic-white);
}

.nav-link.current,
.sub-nav-link.current {
  background-color: var(--menu-actv);
}

.sub-menu {
  /* display: none; проверяла расположение*/
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;

  padding: 0;
}

.sub-menu-item {
  background-color: var(--basic-white);
}

.sub-nav-link {
  color: var(--basic-sg-black);
}

.sub-menu-item:hover,
.sub-menu-item:focus {
  background-color: var(--sub-bg);
}

.sub-menu-item:active {
  background-color: var(--sub-bg-act);
}

.user-link {
  border-bottom: none;

}
.user-panel {
  outline: 5px solid gray;
  outline-offset: -5px;

  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 32px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-panel-item {
  margin-left: 10px;
}

.work {
  outline: 5px solid blueviolet;
  outline-offset: -5px;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.tel-header {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-white);
}

.user-link {
  background-color: var(--link-bg);
}

/*section promo*/

.text-promo {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.promo-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

/*section banners*/

.banners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.banners-list-item {
  width: 560px;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.banners-list-item.jam {
  background-image: url("../img/banner_1.jpg");
}

.banners-list-item.chocolate {
  background-image: url("../img/banner_2.png");
}

.banners-list-item h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banners-list-item p {
  font-size: 18px;
  font-weight: 700;
}

.banners-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/*section hits, страница каталога*/

.hits {
  margin-bottom: 40px;
}

.hit::before {
  content: url("../img/hit.svg");
}



.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0px;
  padding-bottom: 9px;
}

.breadcrumbs-item {
  margin-right: 22px;
}

.quick-view {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.products {
  margin-bottom: 70px;
}

.products-list {
  outline: 5px solid yellow;
  outline-offset: -5px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  margin: 0;
  padding: 0;
}

.product-image img{
  border-radius: 50%;
}

/*section advantages*/

.advantages {
  background-image: url("../img/pattern.jpg");
  background-position: center;
  background-repeat: repeat;
  border-radius: 16px;
  margin-bottom: 40px;
}

.advantages h2 {
  margin:0;
  margin-left: 20px;
  margin-bottom: 21px;
  padding: 0;
  padding-top: 24px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-sg-black);
}

.advantages-list {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  padding: 0;
  padding-bottom: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 33px;
  column-gap: 26px;
}

.advantages-list-item {
  padding-left: 55px;
  position:relative;
  color: var(--basic-sg-black);
}
.ice-cream::before,
.cow::before,
.eco::before,
.thermometer::before {
  position: absolute;
  left: -4px;
  top: -10px;
}

.ice-cream::before {
  content: url("../img/ice-cream.svg");
}

.cow::before {
  content: url("../img/cow.svg");
}

.eco::before {
  content: url("../img/eco.svg");
}

.thermometer::before {
  content: url("../img/thermometer.svg");
}

/*div content-row*/

.content-row {
  display: flex;
  flex-wrap: wrap; /*не уверена, что он тут нужен*/
  margin: 0;
  margin-bottom: 58px;
}

.content-column {
  width: 560px;
}

.blog-priview {
  background-image: url("../img/blog.jpg");
  margin-right: 26px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
}

.blog-post h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-sg-black);
}

.blog-post a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-sg-black);
  text-decoration: underline;
}

.mailing-desc {
  color: var(--basic-wet-asphalt);
}

.mailing {
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.mailing-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.subscribe-block {
  background-color: var(--mailing-bg);
}

.breadcrumbs-item link {
  font-size: 14px;
  line-height: 16px;
}

.catalog {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px var(--price-text-shadow);
}

.product-price .unit {
  font-size: 30px;
  line-height: 35px;
}

.product-name h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  border-bottom: 1px solid var(--link-bg);
}

.paginator {
  margin-bottom: 30px;
  text-align: right;
  min-width: 194px;
}

.paginator a {
  display: inline-block;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  padding: 4px;
  border-radius: 50%;

  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--basic-white);
}

.paginator a:hover,
.paginator a:focus {
  background-color: var(--link-bg);
  /* cursor: url("../img/stroke.png"); */
}

.paginator a:active {
  background-color: var(--basic-white);
  color: var(--basic-sg-black);
}

.paginator .prev {
  margin: 0;
  margin-right: 8px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  text-indent: -10000px;
}

.paginator .next {
  margin-left: 8px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -10000px;
}

.paginator .current {
  background-color: var(--basic-white);
  color: var(--basic-sg-black);
}

/*section contacts*/

.contacts {
  min-width: 1200px;
  min-height: 430px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 35px;
} /*console говорит, что изображение не найдено..ничего не менялось, очему могло пропасть?*/

.contacts-form {
  width: 303px;

  color: var(--basic-sg-black);
  border-radius: 16px;
  background-color: var(--contact-bg);
}

.contact-list dt {
  font-size: 14px;
  line-height: 20px;
}

.contact-list dd {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-list a {
  text-decoration: none;
  color: var(--basic-sg-black);
}

.contact-list dd:last-child {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/*footer*/

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social-list {
  display: flex;
  flex-wrap: wrap;

  width: 164px;
  height: 32px;
  margin: 0;
  padding: 0;

  outline: 5px solid goldenrod;
  outline-offset: -5px;
}

.social-list-item {
  width: 32px;
  height: 32px;
  background-color: var(--social-bg);
}

.footer-nav-list {
display: flex;
justify-self: center;
}

.footer-nav-list-item link {
  font-size: 13px;
  line-height: 18px;
}

.copyright{
  font-size: 12px;
  line-height: 18px;
}

/*catalog - filters*/
.filters {
  margin-bottom: 40px;
}

.form-row {
  display: flex;

}
.filters-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.radio-list,
.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.radio-list li,
.checkbox-list li {
  line-height: 18px;
  font-weight: 500;
}

.filters-apply {
 line-height: 22px;
 font-weight: 500;
 color: var(--basic-white);
 background-color: var(--link-bg);
 border: 2px solid var(--basic-white);
 box-sizing: border-box;
 border-radius: 20px;
}

.filters-apply:hover {
  color: var(--basic-sg-black);
  background-color: var(--basic-white);
}

.filters-apply:active {
  color: var(--basic-sg-black);
  background-color: var(--basic-white);
  box-shadow: inset 0px 2px 1px #696969;
  /* убрать обводку border */
}

.sorting {
  font-size: inherit;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--link-bg);
  border-radius: 20px;
}

.sorting:hover {
  color: var(--basic-sg-black);
}

.footer-credits {
  justify-self: flex-end;
}

