:root {
  --basic-white: #ffffff;
  --basic-sg-black: #323232;
  --basic-wet-asphalt: #5A5A5A;
  --basic-text-dec: rgba(50, 50, 50, 0.2);
  --basic-bg: #849D8F;
  --basic-bg2: #8996A6;
  --basic-bg3: #9D8B84;
  --sub-bg: #FBDED7;
  --sub-bg-act: #F6B5A5;
  --mailing-bg: #F8F7F4;
  --contact-bg: #FEFEFE;
  --menu-actv: #D07058;
  --link-bg: rgba(255, 255, 255, 0.2);
  --link-hov: #FFBC9E;
  --social-bg: rgba(255, 255, 255, 0.8);
  --button-shadow: rgba(172, 16, 0, 0.64);
  --button-bg-hov: #AC1000;
  --button-bg-actv: #942718;
  --button-text-shadow: rgba(160,32,11,0.76);
  --price-text-shadow: rgba(49, 50, 53, 0.5);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-bg);
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrapper {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
}
.site-wrapper-1 {
  background-image: url("../img/slide_1.png");
}

.site-wrapper-2 {
  background-color: var(--basic-bg2);
  background-image: url("../img/slide_2.png");
}

.site-wrapper-3 {
  background-color: var(--basic-bg3);
  background-image: url("../img/slide_3.png");
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: flex-start;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0px 2px 5px var(--button-text-shadow);
  background-image: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 2px var(--button-shadow);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2),  rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px var(--button-bg-hov);
}

.button:active {
  background:
    linear-gradient(to top, #D84732, #E1613e);
    /* linear-gradient(0deg, rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%); */
  box-shadow: inset 0px 2px 2px var(--button-bg-actv);
}

.site-navigation-item,
.sub-menu-item,
.user-panel-item,
.promo-wrapper-item,
.controls-wrapper-item,
.banners-list-item,
.products-list-item,
.advantages-list-item,
.social-list-item,
.footer-nav-list-item,
.breadcrumbs-item,
.radio-list,
.checkbox-list {
  list-style: none;
}

.user-tooltip,
.modal-block {
  display: none;
}

.link,
.sub-nav-link,
.nav-link {
  color: var(--basic-white);
  text-decoration: none;
}

.link:hover,
.link:active,
.link:focus {
  color: var(--link-hov);
}

/*header*/

.container {
  width: 1200px;
  box-sizing: border-box;
  margin:0 auto;
  padding: 0 27px;
  position: relative;
  /* outline: 5px solid green;
  outline-offset: -5px; */
}

.main-header-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 6px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
}

.main-logo {
  margin-right: 9px;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  list-style: none;
  line-height: 16px;
  font-weight: 700;
}

.site-navigation-item {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  border-radius: 16px;
}

.nav-text {
  border-bottom: 1px solid var(--link-bg);
}

.nav-link:hover,
.nav-link:focus{
  color: var(--basic-sg-black);
  background-color: var(--basic-white);
}

.nav-link:active {
  color: var(--basic-sg-black);
  background-color:#EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
}

.nav-link.current,
.sub-nav-link.current {
  background-color: var(--menu-actv);
}

.nav-link.current .nav-text {
  border-color: transparent;
}

.user-tooltip {
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
  margin: 0;
  padding: 0;
  position: absolute;
}


.sub-menu {
  display: block;
  width: 143px;
  box-sizing: border-box;
  top: 36px;
  left: -6px;


  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  border-radius: 4px;
}

/* .site-navigation-item:hover .sub-menu {
  display:block;
} */

.sub-menu-item {
  padding: 10px 20px;

}
.sub-nav-link {
  display: block;
  color: var(--basic-sg-black);
  /* padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px; */

}

.sub-menu-item .new {
  font-weight: 700;
  /* /* padding-top: 13px;
  padding-bottom: 15px; */
  border: 1px solid red/*var(--basic-text-dec); */
}

.sub-menu-item:hover,
.sub-menu-item:focus {
  background-color: var(--sub-bg);
}

.sub-menu-item:first-child:hover,
.sub-menu-item:first-child:focus {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.sub-menu-item:last-child:hover,
.sub-menu-item:last-child:focus {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.sub-menu-item:active {
  background-color: var(--sub-bg-act);
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.user-panel {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-panel-item {
  margin-left: 12px;
  margin-bottom: 17px;
  position: relative;
}

.user-link {
  background-color: var(--link-bg);
  padding: 5px 16px 4px;
  margin-bottom: 2px;
}

.user-panel-item img:not(.loupe) {
  padding-right: 7px;
  padding-top: 2px;
}

.loupe {
  display: block;
  padding-top: 2px;
  padding-left: 1px;
}
.user-panel-item:first-child .nav-link {
  padding: 8px;
  border-radius: 50%;
}

.nav-link:hover img,
.nav-link:focus img,
.nav-link:active img {
  filter: invert(1);
}

.user-panel-item:hover .user-tooltip,
.user-panel-item:focus .user-tooltip,
.user-panel-item:active .user-tooltip {
  display: block;
}
/* сделать, чтобы не пряталось, когда мышка убегает*/

.search {
  width: 341px;
  top: 38px;
  left: -307px;
}
.user-tooltip input {
  box-sizing: border-box;
  padding: 12px 10px 13px 14px;

  color: #999999;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
}

.search input {
  width: 311px;
  margin: 20px 15px;
}

.search input:focus,
.enter input:focus {
  outline: none;
  border-color: rgba(46, 136, 288, 0.52);
  color: var(--basic-sg-black);
  font-weight: 700;
}

.enter {
  width: 277px;
  top: 36px;
  left: -186px;
}

.enter input {
  width: 241px;
  margin-top: 21px;
  margin-left: 19px;
  margin-right: 18px;
}

.enter-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 16px;
  margin-bottom: 20px;
}

.enter-help {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.enter-help a {
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: var(--basic-sg-black);
  padding-top: 5px;
  margin-bottom: 1px;

}

.enter-help .enter-text {
  border-bottom: 1px solid var(--basic-sg-black);
}
.enter-button {
  padding: 15px 26px;

  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
}

.work {
  text-align: right;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700; margin: 0;
  padding: 0;
  padding-bottom: 9px;
}

.tel-header {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-white);
}
/*BODY*/
/*INDEX*/
/*section promo*/

.promo {
  position: relative;
  padding-top: 273px;
  text-align: center;
  margin-bottom: 40px;
}

.promo-wrapper {
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.text-promo {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.promo-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding: 10px 40px;
  /*  padding: 17px 32px;
 letter-spacing: 0.05em; по стайлгайду*/
  align-items: center;
}

.controls-wrapper {
  padding: 0;
  position: absolute;
  top: 422px;
  left: 0;
  z-index: 20;
  display: flex;
  min-width: 79px;
}

.controls-wrapper-item {
  margin-right: 8px;
}
.controls-wrapper-item .current {
  background-color: var(--basic-white);
}
.control {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.control:hover,
.control:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
/*section banners*/

.banners-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.banners-list-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px 22px 14px 16px;
  width: 560px;
  min-height: 229px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.banners-list-item h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0px;
}

.banners-list-item p {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  padding-top: 17px;
  margin: 0;
  margin-bottom: 42px;
}

.banners-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  align-self: flex-end;
  padding: 13px 23px 11px;

}

.banners-list-item.jam {
  background-color: pink;
  background-image: url("../img/banner_1.jpg");
}

.banners-list-item.chocolate {
  background-color: brown;
  background-image: url("../img/banner_2.png");
}


/*section hits*/

.hits {
  margin-bottom: 30px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 27px;
  column-gap: 27px;
  margin: 0;
  padding: 0;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px var(--price-text-shadow);
  position: absolute;
  top: 164px;
}

.product-price .unit {
  font-size: 30px;
  line-height: 35px;
}

.product-name h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  width: 265px;
  text-align: center;
  margin-top: 7px;
  margin-left: 1px;
  margin-bottom: 11px;
}

.products-list-item {
  position: relative;
  margin: 0 auto;
}

.product-image img{
  border-radius: 50%;
}

.hit::before {
  content: url("../img/hit.svg");
  position: absolute;
}

.quick-view {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 16px;
  margin-left: 34px;
}

/*section advantages*/

.advantages {
  background-image: url("../img/pattern.jpg");
  background-position: center;
  background-repeat: repeat;
  border-radius: 16px;
  margin-bottom: 40px;
}

.advantages h2 {
  margin:0;
  margin-left: 20px;
  margin-bottom: 17px;
  padding: 0;
  padding-top: 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-sg-black);
}

.advantages-list {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  padding: 0;
  padding-bottom: 31px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 21px;
  column-gap: 26px;
}

.advantages-list-item {
  padding-left: 55px;
  position:relative;
  color: var(--basic-sg-black);
}
.ice-cream::before,
.cow::before,
.eco::before,
.thermometer::before {
  position: absolute;
  left: -1px;
  top: -8px;
}

.ice-cream::before {
  content: url("../img/ice-cream.svg");
}

.cow::before {
  content: url("../img/cow.svg");
}

.eco::before {
  content: url("../img/eco.svg");
}

.thermometer::before {
  content: url("../img/thermometer.svg");
}

/*div content-row*/

.content-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.content-column {
  display: flex;
  flex-direction: column;
  width: 560px;
  /* box-sizing: border-box; */

}

.blog-post {
  flex-grow: 1;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  border-radius: 16px;
  padding: 17px 20px 68px;
}

.blog-post h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-sg-black);
  margin: 0;
  max-width: 200px;

}

.blog-post .blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-sg-black);
  text-decoration: none;

  max-width: 290px;
  margin: 3px 0 20px;
  display: block;
  text-decoration: underline;
}

.mailing {
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.subscribe-block {
  display: flex;
  flex-direction: column;
  width: 548px;
  box-sizing: border-box;
  background-color: var(--mailing-bg);
  border-radius: 16px;
  margin: 5px;
  color: var(--basic-wet-asphalt);
  padding: 23px 10px 34px 21px;

}

.subscribe-block input {
  width: 368px;
  padding: 13px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;

}

.mailing-desc {
  margin: 0;
  padding-bottom: 41px;
}

.mailing-form {
  display:flex;
}

.mailing-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 8px 19px 9px 20px;
  margin: 0 10px;
}

/*section contacts*/

.contacts {
  min-width: 1200px;
  min-height: 430px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 33px;
  border-top: 1px solid transparent;
}

.contacts-form {
  width: 303px;
  box-sizing: border-box;
  margin-left: auto;
  margin-top: 62px;
  padding-top: 29px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 25px;
  color: var(--basic-sg-black);
  border-radius: 16px;
  background-color: var(--contact-bg);
}

.contact-list {
  margin: 0;
}
.contact-list dt {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 172px;
}

.contact-list dd {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 21px;
}

.contact-list .last {
  padding: 0;
  padding-top: 2px;
}

.contact-list a {
  text-decoration: none;
  color: var(--basic-sg-black);
}

.contact-list dd:last-child {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 7px;
  padding: 10px 28px;
}

/*footer*/

.main-footer .container {
  display: flex;

}

.social-list {
  display: flex;
  height: 32px;
  margin: 0;
  padding: 2px 0 0 1px;
}

.social-list-item {
  width: 32px;
  height: 32px;
  border: 1px solid var(--link-bg);
  border-radius: 50%;
  margin-right: 10px;
}

.social-list-item {
  filter: opacity(0.8);
}

.footer-social {
  margin-right: 245px;
}

.footer-navigation {
  margin-right: 230px;
}

.footer-nav-list {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  width: 304px;
  display: grid;
  grid-template-columns: 1fr max-content;
  row-gap: 5px;
  padding: 0;
  position: relative;
  margin: 0;
}

.footer-nav-list-item link {
  font-size: 13px;
  line-height: 18px;
}

 .heart::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 2px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;

}
.copyright{
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.footer-credits {
  justify-self: flex-end;
  margin-top: -13px;
}

.feedback:target .modal-block{ /*не работает*/



}
.modal-block {
  /* display: block; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-wet-asphalt);
}

.feedback-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 477px;
  background-color: var(--mailing-bg);
  border-radius: 6px;
  margin:
}

.feedback-header {
  position: relative;
}

.modal-button {
  position: absolute;
  margin: auto;
  top: 13px;
  right: 10px;

}
.feedback-form p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--basic-sg-black);
  margin: 0;
  padding: 17px 23px 19px;
}

.modal-block input {
  font-size: 16px;
  line-height: 20px;
  color: #999999;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  margin: 0px 187px 20px 23px;
  padding: 12px;
  padding-bottom: 10px;
}

.modal-block textarea {
  font-size: 16px;
  line-height: 20px;
  color: #999999;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  padding: 12px 14px 20px;
  margin: 0 26px 24px 23px;
}

.review-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0;
 margin-right: 25px;
 margin-left: auto;
 margin-bottom: 27px;
 padding: 13px 26px 9px;
}


/*CATALOG*/

/* .nav-link:hover img,
.nav-link:focus img,
.nav-link:active img {
  filter: invert(1);
} для корзины с тоарами не должно применяться это свойство*/

.basket { /*всю таблицу по pixel perfect нужно подбирать*/
  position: absolute;
  top: 36px;
  left: -425px;
  width: 539px;
}

.basket table {
  color: var(--basic-sg-black);
  margin-top: 20px;
  margin-right: 0;
  margin-left: 20px;

  border-bottom: 1px solid #CACAC7;
  border-collapse: collapse;
}

.basket td {
  font-size: 13px;
  font-weight: 400;

  padding-bottom: 20px;
}

td .selected-item {
  display: block;
  width: 216px;
  text-decoration: none;
  color: var(--basic-sg-black);
}

td .close-button {
 /*нужно еще подумать, как стилизовать*/
}

.basket td:nth-child(4) {
  padding-left: 30px;
}

.basket td:nth-child(5) {
  padding-left: 25px;
}

td .price-calc {
  color: #ABABAB;
}

.order-wrapper {
  width: 172px;
  margin:0;
  margin-right: 14px;
  margin-bottom: 21px;
  margin-left: auto;
  display: flex;
  flex-direction: column;

}

.order-wrapper .total {
  font-weight: 700;
  color: var(--basic-sg-black);
  text-align: right;
}

.order-wrapper .checkout {
  padding: 13px 15px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;

}
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0px;
  padding-bottom: 9px;
}

.breadcrumbs-item {
  margin-right: 22px;
}

/*catalog - filters*/

.products {
  margin-bottom: 66px;
}
.filters-wrapper {
  margin-bottom: 40px;
}

.form-row {
  display: flex;
}

.filters-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 7px;
}

.radio-list,
.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.radio-list li,
.checkbox-list li {
  line-height: 18px;
  font-weight: 500;
}

.filters-apply {
 line-height: 22px;
 font-weight: 500;
 color: var(--basic-white);
 background-color: var(--link-bg);
 border: 2px solid var(--basic-white);
 box-sizing: border-box;
 border-radius: 20px;
}

.filters-apply:hover {
  color: var(--basic-sg-black);
  background-color: var(--basic-white);
}

.filters-apply:active {
  color: var(--basic-sg-black);
  background-color: var(--basic-white);
  box-shadow: inset 0px 2px 1px #696969;
  /* убрать обводку border */
}

.sorting {
  font-size: inherit;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--link-bg);
  border-radius: 20px;
}

.sorting:hover {
  color: var(--basic-sg-black);
}

.filter {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
  margin-right: 15px;
}

.filter .additive {
  margin-bottom: 0;
}
.filters .classification {
  width: 196px;
}

.sorting {
  padding-top: 13px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 16px;
}

.filters .range-slider {
  width: 217px;
}

.filters .fat {
  width: 425px;
}

.filters .additive {
  width: 711px;
  margin-bottom: 0;
}

.filter .radio-list,
.filter .checkbox-list {
  margin: 0;
  padding: 0;
  background-color: var(--link-bg);
  border-radius: 20px;
}
/*
.filter-wrapper label {
  border: 1px solid red;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 16px;
} */
/*хлебные крошки*/
.breadcrumbs-item link {
  font-size: 14px;
  line-height: 16px;
}

.catalog {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

/*переключатель страниц*/

.paginator {
  margin-bottom: 63px;
  text-align: right;
  min-width: 194px;
}

.paginator a {
  display: inline-block;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  padding: 4px;
  border-radius: 50%;

  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--basic-white);
}

.paginator a:hover,
.paginator a:focus {
  background-color: var(--link-bg);
  /* cursor: url("../img/stroke.png"); */
}

.paginator a:active {
  background-color: var(--basic-white);
  color: var(--basic-sg-black);
}

.paginator .prev {
  margin: 0;
  margin-right: 8px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  text-indent: -10000px;
}

.paginator .next {
  margin-left: 8px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -10000px;
}

.paginator .current {
  background-color: var(--basic-white);
  color: var(--basic-sg-black);
}

.site-wrapper {
  position: relative;
}
